# Systemd resource file
[Unit]
Description=The NMEA websocket server

[Service]
Type=forking
KillMode=process
ExecStart=/usr/local/bin/wsocknmea -b
User=root

[Install]
WantedBy=multi-user.target

