html, body, div, h1, h2, h3, h4, p, ul, ol, li, dl, dt, dd, td, input, select, a, textarea
{
	font-family: Tahoma, Helvetica, Geneva, Arial, sans-serif;
	font-size: 1.0em;
}

html>body
{
    background-color: #757575;
    width: 100%;
    height: 100%;
    min-width: 900px;
    //max-width: 1280px;
    min-height: 500px;
    background-image: url('../img//Default-bg.jpg');
    //background-repeat: no-repeat;
    //background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;   
    overflow: hidden;
}

iframe
{
    border: 0;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    overflow: hidden;
}

div
{
    padding: 0;
    margin: 0;
    border: 0;
}

#status
{
    position:relative;
    top: 42px;
    left: 10px;
    height: 26px;
    width: 26px;
    font-size: 2.7em;
    z-index: 12;
}

#screen_ctrl
{
    position:absolute;
    top: 2px;
    left: 8px;
    opacity: 0.3;
    z-index: 10;
}

#top_section
{
    position: relative;
    width: 100%;
    top: 8px;
    height: 50%;
    //border: 1px solid black;
}

#bottom_section
{
    position: absolute;
    bottom: 45%;
    width: 100%;
    padding-top: 10px;
    margin-top:10px;
    //border: 1px solid white;
}

#left_div
{
    position: absolute;
    height: 50%;
    min-height: 600px;
    left: 4%;
    top: 0;
    width: 40%; // Dia of instrument
}

#left_fr
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#center_div
{
    width: 300px;
    height:300px;
    //background-color:#FFA500 ;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#center_fr
{
    position: relative;
    top: 120%;
    width: 100%;
    height: 100%;
}

#right_div
{
    position: absolute;
    height: 50%;
    min-height: 600px;
    top: 0;
    right: 4%;
    width: 40%; // Dia of instrument
}

#center_div
{
    width: 360px;
    height:360px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#center_fr
{
    position: relative;
    top: 105%;
    width: 100%;
    height: 100%;
}

#right_fr
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#left_div_b
{
    position: absolute;
    height: 50%;
    min-height: 600px;
    left: 4%;
    top: 0;
    width: 40%; // Dia of instrument
}

#left_fr_b
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#right_div_b
{
    position: absolute;
    height: 50%;
    min-height: 600px;
    right: 4%;
    top: 0;
    width: 40%; // Dia of instrument
}

#right_fr_b
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#config
{
    position:absolute;
    top: 10px;
    left: 10px;
    padding: 20px;
    background-color: #DEDEDE;
    background-image: url('../img/empty-w.png');
    z-index: 13;
    height: 560px;
    width: 760px;
    display: none;
    border-radius:10px;
    -moz-border-radius:10px;
}

#quitb
{
    position:absolute;
    top: 2px;
    left: 744px;
    opacity: 0;
}

#logpanel
{
    position:absolute;
    top: 10px;
    left: 226px;
    font-size: 2.7em;
}

#msg
{
    font-size: 1.2em;
    color: black;
}

table
{
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

td
{
    padding: 0px;
    margin: 0;
    border: 0;
    border-spacing: 0; 
    vertical-align:top;
}

h1
{
	color: #000000;
	background-color: #5b85be;
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 -9px 5px -9px;
	padding: 4px 4px 4px 9px;
}

h2 {
    display: block;
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.contentBox
{
	border: 1px solid #5b85be;
	padding: 0px 6px 6px 6px;
	background-color: #DEDEDE;
    font-size: 0.8em;
    border-spacing: 0; 
}

input, select
{
   font-size: 0.9em;
} 

